@font-face {
  font-family: exil;
  src: url("../Fonts/Exil.woff2");
}
@font-face {
  font-family: monument;
  src: url("../Fonts/Monument.otf");
}
@font-face {
  font-family: grotesk;
  src: url("../Fonts/grotesk.woff");
}
@font-face {
  font-family: excon;
  src: url("../Fonts/Excon-Light.ttf");
}
@font-face {
  font-family: gothamm;
  src: url("../Fonts/GothamMedium.ttf");
}
@font-face {
  font-family: gothambl;
  src: url("../Fonts/Gotham-Black.otf");
}
@font-face {
  font-family: gothambo;
  src: url("../Fonts/Gotham-Bold.otf");
}
